---
fail_fast: false
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
        exclude: pymolresponse/data
      - id: end-of-file-fixer
        exclude: pymolresponse/data
      - id: fix-byte-order-marker
        exclude: pymolresponse/data
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
  # Doesn't play well with Python docstrings
  # - repo: https://github.com/editorconfig-checker/editorconfig-checker
  #   rev: "v3.6.0"
  #   hooks:
  #     - id: editorconfig-checker
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/PyCQA/isort
    rev: "7.0.0"
    hooks:
      - id: isort
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/asottile/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
  # - repo: https://github.com/Carreau/velin
  #   rev: "0.0.12"
  #   hooks:
  #     - id: velin
  # - repo: https://github.com/PyCQA/doc8
  #   rev: "v1.1.1"
  #   hooks:
  #     - id: doc8
  #       additional_dependencies:
  #         - toml
  #       # not reading pyproject.toml? :(
  #       args:
  #         - "--ignore=D001"
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: "6.3.0"
  #   hooks:
  #     - id: pydocstyle
  #       additional_dependencies:
  #         - toml
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.19.1
  #   hooks:
  #     - id: mypy
  #       args: []
  #       additional_dependencies:
  #         - attrs
  #         - cclib
  #         - daltools
  #         - numpy
  #         - periodictable
  #         - pyscf
  #         - scipy-stubs
  #         - types-pyyaml
  #         - versioningit
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.37.1"
    hooks:
      - id: yamllint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        additional_dependencies:
          - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1"
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.19.0
    hooks:
      - id: zizmor
        args: [--no-progress, --persona=pedantic, --fix]
  - repo: https://github.com/berquist/validate-git-blame-ignore-revs
    rev: v0.1.0
    hooks:
      - id: validate-git-blame-ignore-revs
        args: [--call-git, --strict-comments, --strict-comments-git]
