---
name: test with pixi

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: pixi-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

permissions: {}

jobs:
  pixi:
    name: Test with pixi
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
          # so versioningit can figure out the version
          fetch-depth: 0
          fetch-tags: true
      - uses: prefix-dev/setup-pixi@0f64e482e3d251f735019b1bc7fb0413ead75b2c # v0.8.2
        # with:
        #   cache: true
        #   cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - run: |
          pixi run -e test test
