---
name: test with pixi

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: pixi-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

permissions: {}

jobs:
  pixi:
    name: Test with pixi
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-15
          - ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6
        with:
          persist-credentials: false
          # so versioningit can figure out the version
          fetch-depth: 0
          fetch-tags: true
      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7  # v0.9.3
        # with:
        #   cache: true
        #   cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - run: |-
          pixi run -e test test
