---
name: Test and package distribution

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: test-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

# For now always take the "reduced" form of the version, even for those
# actions runs that do not push to a package index.
env:
  VERSIONINGIT_FOR_PACKAGE_INDEX: true

permissions: {}

jobs:

  run-tests:
    name: Test and package on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.8
          - 3.9
          - "3.10"
          - 3.11
          - 3.12
    defaults:
      run:
        shell: "bash -l {0}"
    permissions:
      contents: write  # needed for github-pages-deploy-action
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
          # so versioningit can figure out the version
          fetch-depth: 0
          fetch-tags: true
      - name: Set up Python ${{ matrix.python-version }} with conda
        uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3
        with:
          activate-environment: test
          auto-activate-base: false
          auto-update-conda: true
          environment-file: devtools/conda-envs/test_env.yaml
          miniforge-version: latest
          python-version: ${{ matrix.python-version }}
          show-channel-urls: true
      - name: Print Python environment
        run: python -m pip list
      - name: Update installation infrastructure
        run: python -m pip install -U setuptools pip
      - name: Print conda environment
        run: conda list
      - name: Print conda info
        run: conda info
      - name: Print conda config
        run: conda config --show
      - name: Install
        run: python -m pip install .
      - name: Run tests
        run: make test
      - name: Build documentation
        run: |
          cd docs
          make html
      - name: GitHub Pages deploy
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
        with:
          branch: gh-pages
          folder: docs/build/html
        if: ${{ github.event_name == 'push' && matrix.python-version == '3.11' }}
      - name: Install pypa/build and pypa/twine
        run: |
          python -m pip install build twine
      - name: Build distribution packages (binary wheel and source tarball)
        run: |
          python -m build
      - name: Check packages with twine
        run: |
          python -m twine check ./dist/*
      - name: Store the distribution packages
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: python-package-distributions-${{ matrix.python-version }}
          path: ./dist

  check-installation:
    name: Check ${{ matrix.install-method }} installation of ${{ matrix.python-version }}
    needs:
      - run-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        install-method: [wheel, source]
        python-version:
          - 3.8
          - 3.9
          - "3.10"
          - 3.11
          - 3.12
    steps:
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Download the distribution packages
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: python-package-distributions-${{ matrix.python-version }}
          path: ./dist
      - name: Update environment
        run: |
          python -m pip install -U setuptools pip
      - name: Install from wheel
        run: |
          python -m pip install ./dist/*.whl
        if: matrix.install-method == 'wheel'
      - name: Install from source
        run: |
          python -m pip install ./dist/*.tar.gz
        if: matrix.install-method == 'source'
      - name: Smoke test
        run: |
          python -c 'import pymolresponse; print(pymolresponse.__version__)'
